In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/violate_partial_order_inspection.csv')
df = df.rename(columns={'order of the first line that violates the partial order matters within chunk’s scope?':'order_matters'})
df.head()

,chunk_id,partial_order,chunk_size,resolution_size,order_matters,notes
0,1005160,False,21,10,yes,The line that is violating the partial order c...
1,1155275,False,61,53,yes,closing brackets (})
2,826948,False,56,29,yes,variable declaration and assignment
3,946483,False,52,43,yes,closing brackets (})
4,1108391,False,82,48,yes,many lines are out of order and the chunk’s sc...

In [3]:
order_matters = df[df['order_matters'] == 'yes']
order_doesnt_matter = df[df['order_matters'] == 'no']

In [4]:
order_matters[['chunk_size', 'resolution_size']].describe().round(2)

       chunk_size  resolution_size
count       19.00            19.00
mean        55.05            35.05
std         62.49            39.48
min         13.00             2.00
25%         19.00             7.00
50%         27.00            19.00
75%         58.50            48.50
max        226.00           143.00

In [5]:
order_doesnt_matter[['chunk_size', 'resolution_size']].describe().round(2)

       chunk_size  resolution_size
count       11.00            11.00
mean        18.91             9.64
std         10.05            10.47
min         10.00             3.00
25%         15.00             4.50
50%         16.00             6.00
75%         18.50            10.00
max         48.00            40.00

In [6]:
order_matters

,chunk_id,partial_order,chunk_size,resolution_size,order_matters,notes
0,1005160,False,21,10,yes,The line that is violating the partial order c...
1,1155275,False,61,53,yes,closing brackets (})
2,826948,False,56,29,yes,variable declaration and assignment
3,946483,False,52,43,yes,closing brackets (})
4,1108391,False,82,48,yes,many lines are out of order and the chunk’s sc...
6,996525,False,14,5,yes,closing brackets (})
8,1052371,False,76,69,yes,comment line within a block
9,936934,False,27,19,yes,annotation
11,936950,False,27,19,yes,annotation
12,977668,False,16,7,yes,closing brackets (})
15,1171213,False,21,8,yes,method invocation
17,1136105,False,53,49,yes,closing brackets (})
18,972115,False,226,120,yes,line of a comment block. If put outside of the...
20,823932,False,29,22,yes,opening comment block (/**)
21,791115,False,13,7,yes,method invocation
23,794240,False,217,143,yes,method invocation
25,1052560,False,23,2,yes,method invocation
26,1466039,False,17,7,yes,A variable declaration that is wrapped into tw...
29,777310,False,15,6,yes,if statement

In [7]:
order_doesnt_matter

,chunk_id,partial_order,chunk_size,resolution_size,order_matters,notes
5,1384446,False,16,8,no,import statements. Scope includes only imports
7,1466045,False,20,9,no,a variable declaration that appeared in the be...
10,976350,False,18,6,no,import statements. Scope includes only imports
13,778801,False,48,40,no,a variable declaration that appeared in the be...
14,1161479,False,10,3,no,import statements. Scope includes only imports
16,964065,False,15,6,no,import statements. Scope includes only imports
19,1035970,False,15,5,no,import statements. Scope includes only imports
22,976037,False,16,3,no,import statements. Scope includes only imports
24,1288345,False,13,4,no,import statements. Scope includes only imports
27,1161169,False,19,11,no,import statements. Scope includes only imports
28,1161195,False,18,11,no,import statements. Scope includes only imports